//
// Font stacks
$main-ff: 'Open Sans', 'sans-serif';

//
// Colors
$main-green: #2dc9c1;
$main-orange: #e1524b;

$dark-green-text: #4b7e79;
$gray-text: #777777;

$white: #ffffff;
$gray: #ececec;
$light-gray: #f3f3f3;
$mid-gray: #98a3a3;
$dark-gray: #7a8d8d;

$hower-green: #62a29e;
$mid-green: #6ab3ac;
$dark-green: #528b86;
$bkg-green: #5e9f9a;
