//
// Font stacks
$main-ff: 'Open Sans', 'sans-serif';

//
// Colors
$main-green: #92c6bf;
$hower-green: #62a29e;
$mid-green: #6ab3ac;
$dark-green: #528b86;
$bkg-green: #5e9f9a;
$dark-green-text: #4b7e79;

$gray-text: #777777;

$light-gray: #f3f3f3;
$mid-gray: #ebebeb;
$gray: #939b9b;
$dark-gray: #828b8b;

$main-orange: #c4534d;

$white: #f8f8f8;


